.background{
    /* height: "700px"; */
    width: fit-content;
}
.slide .img{
    width: 100% !important;
}
.carousel-caption {
    position: absolute;
    /* top: 30%; */
    right: 15%;
    bottom: 1.25rem;
    /* left: 15%; */
    padding-top: 1.25rem;
    /* padding-bottom: 1.25rem; */
    color: #ffffff;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(25, 53, 68, 0.759), rgba(2, 17, 24, 0.761));
    text-align: center;
}
.carousel-indicators{
    display: none;
}
@media only screen and (min-width:990px){
    .img {
        width: 100%!important;
        /* height: 945px; */
    }
}

