.background{
    height: "700px";
}
.carousel-caption {
    position: absolute;
    top: 40%;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #c81010;
    text-align: center;
}
.carousel-indicators{
    display: none;
}
@media only screen and (min-width:990px){
    .img {
        width: 100%!important;
        height: 945px;
    }
}

